.App {
  width: 1920px;
  height: 970px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.Nav{
  position: relative;
  float: left;
  background-color: aquamarine;
  width: 17.5%;
  height: 970px;
  background-image: url('./img/Nav.png');
}

.NavLogo{
  width: 100%;
  height: 100px;
  background-image: url('./img/NavLogo.png');
}

.NavMenu{
  width: 100%;
  height: 763px;
  background-image: url('./img/NavMenu.png');
  padding-top: 7px;
}

.Nav_Search{
  width: 100%;
  height: 40px;
  background-image: url('./img/Nav_Search.png');
  background-repeat: no-repeat;
  margin-bottom: 7px;
}

.Nav_Looking{
  width: 100%;
  height: 40px;
  background-image: url('./img/Nav_Looking.png');
  background-repeat: no-repeat;
  margin-bottom: 7px;
  margin-top : 7px;
}

.Nav_Board{
  width: 100%;
  height: 40px;
  background-image: url('./img/Nav_Board.png');
  background-repeat: no-repeat;
  margin-bottom: 7px;
  margin-top : 7px;
}

.Nav_QnA{
  width: 100%;
  height: 40px;
  background-image: url('./img/Nav_QnA.png');
  background-repeat: no-repeat;
  margin-bottom: 7px;
  margin-top : 7px;
}

.Nav_Contest{
  width: 100%;
  height: 40px;
  background-image: url('./img/Nav_Contest.png');
  background-repeat: no-repeat;
  margin-bottom: 7px;
  margin-top : 7px;
}

.Nav_Employment{
  width: 100%;
  height: 40px;
  background-image: url('./img/Nav_Emplyment.png');
  background-repeat: no-repeat;
  margin-bottom: 7px;
  margin-top : 7px;
}

.Nav_Portfolio{
  width: 100%;
  height: 40px;
  background-image: url('./img/Nav_Portfolio.png');
  background-repeat: no-repeat;
  margin-bottom: 7px;
  margin-top : 7px;
}

.Nav_Notice{
  width: 100%;
  height: 40px;
  background-image: url('./img/Nav_Notice.png');
  background-repeat: no-repeat;
  margin-bottom: 7px;
  margin-top : 7px;
}

.Login_test{
  width: 100%;
  height: 40px;
  background-color: deepskyblue;
  background-repeat: no-repeat;
  margin-bottom: 7px;
  margin-top : 7px;
}

.NavBottom{
  width: 100%;
  height: 100px;
  background-image: url('./img/NavBottom.png');
}

.Main{
  position: relative;
  float: right;
  background-color: white;
  width: 82.5%;
  height: 100%;
}

.MainDisp{
  width: 70%;
  height: 80%;
  background-color: azure;
  margin-left: 15%;
  margin-top: 6.5%;
}

.Login_testDisp{
  width: 70%;
  height: 80%;
  background-color: white;
  margin-left: 15%;
  margin-top: 6.5%;
}

.Login_testDisp_Form{
  margin: auto;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 15%;
  border: 1px solid;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px;
  border-color: black;
}

#btn {
  background-color: #1BBC9B;
  margin-bottom: 30px;
  color: white;
}
.in {
  margin-bottom: 10px;
  border: 1px solid;
}

a {
  text-decoration: none;
  color: #9B9B9B;
  font-size: 12px;
}