.App {
  text-align: left;
}

body {
  font-size: 14px;
}
.v20_161 {
  width: 100%;
  height: 968px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_160 {
  width: 100%;
  height: 968px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 380px;
  overflow: hidden;
}
.v18_146 {
  width: 100%;
  height: 968px;
  background: rgba(209,197,197,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_152 {
  width: 1285px;
  height: 239px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 119px;
}
.v18_154 {
  width: 1285px;
  height: 239px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 674px;
  left: 119px;
}
.v18_153 {
  width: 1285px;
  height: 239px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 119px;
}
.v18_158 {
  width: 380px;
  height: 968px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_145 {
  width: 380px;
  height: 968px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_151 {
  width: 347px;
  height: 619px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 17px;
}
.v18_150 {
  width: 347px;
  height: 121px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 17px;
}
.v18_157 {
  width: 347px;
  height: 121px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 818px;
  left: 17px;
}